base_workstation_base_packages:
  - ca-certificates
  - curl
  - git
  - openssh-server
  - python3
  - python3-apt
  - rsync
  - sudo
  - unattended-upgrades
  - wget

base_workstation_optional_packages:
  - htop
  - vim

base_apt_maintenance_enabled: false
base_workstation_enable_unattended_upgrades: true
base_workstation_enable_periodic_package_list_update: true
