[Unit]
Description=Run ansible-pull for workstation configuration
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
SyslogIdentifier=ansible-pull
ExecStart=/usr/local/sbin/run-ansible-pull
