[Unit]
Description=Refresh workstation apt package lists
After=network-online.target
Wants=network-online.target
{% if base_maintenance_failure_slack_notify_enabled | default(true) %}
OnFailure=ansible-pull-slack-notify@%n.service
{% endif %}

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/apt-refresh
TimeoutStartSec=10m
