[Unit]
Description=Upgrade installed browser packages
After=network-online.target
Wants=network-online.target
{% if base_maintenance_failure_slack_notify_enabled | default(true) %}
OnFailure=ansible-pull-slack-notify@%n.service
{% endif %}

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-installed-browsers --apt-list-file /etc/ansible/browser-package-updates.list --snap-list-file /etc/ansible/browser-snap-updates.list
TimeoutStartSec=10m
