[Unit]
Description=Schedule daily browser package upgrades

[Timer]
OnCalendar={{ base_browser_package_updates_timer_on_calendar }}
RandomizedDelaySec={{ base_browser_package_updates_randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
